@use '../1-base/variables'
@use '../1-base/base-mixins'
@use 'layouts-mixins'

footer
    background-color: variables.$secondary-bg-color
    display: flex
    flex-direction: column
    @include layouts-mixins.center-content

    div
        padding-top: 4rem
        
    i
        font-size: 2rem
    img
        width: 20rem
        padding-top: 2rem
        
    p
        padding: 2rem
        color: variables.$secundary-color
        float: left
        
    
    .footer-social-networks
        width: 20rem
        @include layouts-mixins.center-content