html {
  font-size: 14px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  font-size: 1rem;
}

i {
  color: #E2B616;
}

a {
  text-decoration: none;
  transition: 0.4s;
}
a:hover {
  color: #E2B616;
}

ul {
  list-style: none;
}

html {
  background-color: #000;
}

header {
  width: 100%;
  background-color: #1a1a1a;
  position: fixed;
}

.nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1220px;
  height: 5rem;
}
.nav-search {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav img {
  height: 4rem;
  border-radius: 10px;
  margin: 0 5rem;
}
.nav input {
  height: 3rem;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-right: 5rem;
  width: 100%;
}
.nav i {
  font-size: 1.5rem;
  position: relative;
  right: 7rem;
}
.nav i:hover {
  cursor: pointer;
}

footer {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer div {
  padding-top: 4rem;
}
footer i {
  font-size: 2rem;
}
footer img {
  width: 20rem;
  padding-top: 2rem;
}
footer p {
  padding: 2rem;
  color: #fff;
  float: left;
}
footer .footer-social-networks {
  width: 20rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  height: 480px;
  width: 100%;
  background-image: url("/img/banner.jpeg");
  background-position: 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
}

section {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.section-main-div {
  max-width: 1220px;
}
.section-main-div h2 {
  color: #E2B616;
  font-size: 3rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.catalog {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.catalog-movies {
  padding: 6rem 2rem;
}
.catalog-poster {
  width: 12rem;
  height: 18rem;
  cursor: pointer;
}
.catalog-vote {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}
.catalog-title {
  color: #fff;
  padding-top: 1rem;
  text-align: center;
  max-width: 12rem;
}
.catalog-more {
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog-more-p {
  color: #E2B616;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  padding-bottom: 1rem;
  cursor: pointer;
  width: 17rem;
}

.movie-selection {
  width: 50rem;
  color: #fff;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 6rem;
}
.movie-selection img {
  width: 30rem;
}
.movie-selection i, .movie-selection span {
  font-size: 2rem;
  padding: 1rem;
  padding-left: 1rem;
  color: #E2B616;
}
.movie-selection p {
  padding: 1rem;
  font-size: 1.3rem;
}

.p-justified {
  text-align: justify;
}

.btn {
  padding: 8px 15px;
  height: 40px;
  color: #ffffff;
  border-radius: 20px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #E2B616;
  cursor: pointer;
  outline: none;
  border: 2px solid #E2B616;
  transition: 0.4s;
}

/*# sourceMappingURL=app.css.map */
