$primary-color: #E2B616
$secundary-color: #fff
//$light-color: #fff
//$dark-color: #333
//$text-color: #fff

$bg-color: #000
$secondary-bg-color: #151515
//$section-bg-color: #E4E7ED
//$link-color: #2B2D42
$container-width: 1220px